 :root {
     --ex-border-radius: 2rem;
     --ex-border-width: 0.2rem;
     --ex-border-padding: 3rem;
     --ex-card-color: black;
     --ex-border-color: red;
     --ex-border-style: dashed;

 }

 .ex-card {
     color: snow;
     font-size: 1.2rem;
     border-radius: var(--ex-border-radius);
     padding: var(--ex-border-padding);
     border: transparent;
     position: relative;
     background-color: var(--ex-card-color);
 }

 .ex-card:nth-child(even) {
     border:
         var(--ex-border-width) var(--ex-border-style) var(--ex-border-color);

     border-right:
         0px var(--ex-border-style) transparent;
 }

 /*
  
      .ex-card:nth-child(even)::before {
        content: "";
        display: block;
        width: 10%;
        height: 35px;
  
        background-color: var(--ex-card-color);
        position: absolute;
        bottom: -0.2rem;
        right: 0px;
      }
        */

 .ex-card:nth-child(even)::after {
     content: "";
     display: block;
     width: var(--ex-border-padding);
     height: calc(100% + (var(--ex-border-width)*2));
     background-color: var(--ex-card-color);
     ;
     border-radius: var(--ex-border-radius);
     position: absolute;
     top: calc(var(--ex-border-width) * -1);
     right: 0px;
 }


 .ex-card:nth-child(odd) {
     border: 0px var(--ex-border-style) transparent;
     border-right:
         var(--ex-border-width) var(--ex-border-style) var(--ex-border-color);

 }

 .ex-card:first-child {
     border-right:
         var(--ex-border-width) var(--ex-border-style) var(--ex-border-color);

     border-top:
         var(--ex-border-width) var(--ex-border-style) var(--ex-border-color);
 }

 .ex-card:first-child::after {
     content: "";
     display: block;
     width: calc(50%);
     height: var(--ex-border-padding);
     background-color: var(--ex-card-color);
     border-radius: var(--ex-border-radius) 0px;
     position: absolute;
     top: calc(var(--ex-border-width) * -1);
     left: 0;
 }


 .ex-card:last-child {
     border-bottom:
         var(--ex-border-width) var(--ex-border-style) var(--ex-border-color);

 }

 .ex-card:last-child::after {
     content: "";
     display: block;
     width: var(--ex-border-padding);
     height: var(--ex-border-padding);
     background-color: var(--ex-card-color);

     border-radius: 0px var(--ex-border-radius);
     position: absolute;
     bottom: calc(var(--ex-border-width) * -1);
     left: 0;
     width: 50%;
 }

 .ex-box {
     display: flex;
     justify-items: center;
     align-items: center;
     background: black;
 }

 .ex-vertical-line {
     border:
         calc(var(--ex-border-width) * 0.7) var(--ex-border-style) var(--ex-border-color);
     height: var(--ex-border-padding);
     width: 0px;
     margin: auto;
 }