* {
  box-sizing: border-box;
  transition: all 0.2s;
}


:root {
  --pritam: 80rem;
  --star-height: 2vh;
  --start-z-index: 2;
  --ground-z-index: 6;
  --body-color: #132B3D;
}

body {
  margin: 0;
  padding: 0;
  background: var(--body-color);
  color: snow;
}

h2,
h3 {
  margin: 0;
  padding: 1.5rem 0;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}