:root {
    --skill-border-color: #4AA3A9;
    --skill-border-color: #252527;
    --skill-text-color: #4AA3A9;
    --skill-text-color: smoke;
    --skill-bg-color: #171719;
    --add-skill-time: 1000;
    --skills-section-bg: #000A7C;
    --skills-section-bg: black;
}

#skill-section {
    background: var(--skills-section-bg);

}

.skill-container {}

#skill-section h2 {

    font-size: 1.8rem;
    padding-bottom: 0;
    font-weight: 600;
    font-family: "Delius", serif;
}

.skill-container h3 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Delius", serif;

}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {

    font-family: "Delius", serif;
    color: var(--skill-text-color);
    display: block;
    width: 0px;
    padding: 0.3rem 0.8rem;
    width: fit-content;
    transform: scaleX(1);
    transform-origin: left;
    animation: skill-swipe calc(var(--add-skill-time) * 1ms) forwards;
    margin: 0 1rem 1rem 0;
    overflow: hidden;
    border-radius: 0.5rem;
    background: linear-gradient(var(--skill-bg-color) 0 0) padding-box,
        linear-gradient(to right, var(--skill-border-color), var(--skill-border-color)) border-box;
    border: 1px solid transparent;
}

.break-skill {
    display: block;
    width: 100%;

}

.angular:hover {
    background: linear-gradient(var(--skill-bg-color) 0 0) padding-box,
        linear-gradient(to right, red, var(--skill-border-color)) border-box;
}


@keyframes skill-swipe {
    0% {
        transform: scaleX(0);
    }

    70% {
        transform: scaleX(1.1);
    }

    100% {
        transform: scaleX(1);
    }
}